*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
settings.gradle
gradlew.bat
gradle.properties
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/copyright/profiles_settings.xml
.idea/compiler.xml
build.gradle
gradlew
